:root {
  --foreground: rgb(236, 236, 236);
}

body {
  background-color: #1b1b1b;
  color: var(--foreground);
  margin: clamp(2rem, 6vh, 0.5in) 0;
}

body, .leaflet-control, .leaflet-container {
  font-family: "Roboto";
}

.leaflet-container {
  background-color: transparent;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.user-input {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
  align-items: baseline;
  font-family: "PT Serif";
  font-weight: bold;
  font-size: 3rem;
}

.user-input .form-group {
  margin-bottom: 0;
}

.user-input .shiny-input-container {
  display: inline-flex;
  grid-template-columns: max-content max-content;
  align-items: center;
  width: auto;
}

.user-input .shiny-input-container label {
  margin-right: 1ch;
  margin-bottom: 0;
}

.user-input .selectize-input {
  color: inherit;
  box-shadow: 0 1px 0 var(--foreground);
  border: none;
  border-radius: 0;
  background-color: transparent !important;
  padding: 0;
  padding-right: 2.5ch;
  overflow: initial;
  line-height: 1;
}

.user-input .selectize-dropdown {
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 1.5rem;
}

.user-input .selectize-control {
  margin-bottom: 0;
}

.user-input .selectize-control.single .selectize-input::after, .user-input .selectize-control.single .selectize-input.dropdown-active::after {
  border-top-color: var(--foreground) !important;
  right: 1ch !important;
}

[role="main"] {
  padding: 0;
}

.summary {
  font-size: 1.2em;
}

.summary p {
  margin: 0;
}

.summary strong {
  font-weight: bold;
}

.user-input, .leaflet-container {
  margin-bottom: clamp(2rem, 6vw, 7rem);
}

footer {
  font-size: 1.1rem;
  margin-top: 3em;
  color: #c7c7c7;
}

footer p {
  margin: 0;
}

footer a {
  color: inherit;
  text-decoration: underline;
}

footer a:focus, footer a:hover {
  color: inherit;
  text-decoration-style: dashed;
}
